.comments-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
}

.box {
  width: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(3, min-content);
  //grid-template-areas: "score user control" "score comment comment" "score comment comment";
  gap: 1rem;
  color: hsl(211, 10%, 45%);
  background-color: hsl(0, 0%, 100%);
  position: relative;
  padding: 1rem 0.2rem;
  font-family: "Rubik";
  margin: 1rem auto auto auto;
  width: 100%;
}
.reply-wrapper {
  margin-top: 1rem;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}
.control {
  // grid-area: control;
  grid-row: 1;
  grid-column: 3;
  display: flex;
  align-self: center;
  justify-self: flex-start;
  cursor: pointer;
  gap: 0.5rem;
}
.score {
  color: hsl(238, 40%, 52%);
  background-color: hsl(228, 33%, 97%);
  border-radius: 5px;
  //  grid-area: score;
  grid-row: 1 / span 2;
  grid-column: 1;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.4rem;
  width: auto;
  margin: 0;
  align-self: center;
  &__plus,
  &__minus {
    cursor: pointer;
  }
}
.user {
  width: 100%;
  // grid-area: user;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: hsl(212, 24%, 26%);
  &__name {
    font-weight: bold;
  }
  &__img {
    height: 2rem;
    width: 2rem;
  }
}
.text {
  grid-column: 2 / span 2;
  grid-row: 2;
  padding: 0.3rem;
}
.replyTo {
  font-weight: bold;
  color: hsl(238, 40%, 52%);
}
.overlay {
  width: 100%;
  min-height: 100%;
  z-index: 0;
  background-color: hsl(211, 10%, 45%);
  opacity: 0.2;
  position: fixed;
  top: 0px;
  left: 0px;
}
.popup {
  z-index: 2;
  position: fixed;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "heading heading"
    "question question"
    "no yes";
  top: 50%;
  left: 50%;
  font-family: "Rubik";
  max-width: 25%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  padding: 1rem;
  transform: translate(-50%, -50%);
}
.popup h3 {
  grid-area: heading;
  color: hsl(212, 24%, 26%);
  font-weight: bold;
}
.popup button {
  color: hsl(0, 0%, 100%);
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  font-weight: 500;
}
.popup p {
  grid-area: question;
  color: hsl(211, 10%, 45%);
}
.yes {
  grid-area: yes;
  background-color: hsl(358, 79%, 66%);
  cursor: pointer;
}
.no {
  grid-area: no;
  background-color: hsl(211, 10%, 45%);
  cursor: pointer;
}
.overlay {
  width: 100%;
  min-height: 100%;
  z-index: 0;
  background-color: hsl(211, 10%, 45%);
  opacity: 0.2;
  position: fixed;
  top: 0px;
  left: 0px;
}
.update {
  grid-column: 3;
  grid-row: 3;
  justify-self: end;
  background-color: hsl(238, 40%, 52%);
  border: none;
  color: hsl(0, 0%, 100%);
  font-family: "Rubik";
  padding: 0.6rem;
  margin-right: 0.4rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.comment-replies {
  justify-self: flex-start;
  align-self: flex-start;
  display: grid;
  grid-template-columns: min-content 1.5fr 0.5fr;
  grid-template-rows: repeat(2, min-content);
  width: 100%;
  background-color: white;
  margin-top: 10px;
  grid-gap: 10px;
  padding: 0.5rem;
  font-family: "Rubik";
  position: relative;
}
.comment-replies::before {
  content: "";
  position: absolute;
  height: 108%;
  width: 1.5px;
  background-color: hsl(238, 40%, 52%, 0.5);
  left: -17px;
}
.comment-replies > .score {
  grid-column: 1;
  grid-row: 1/3;
}
.comment-replies > .user {
  grid-column: 2;
  grid-row: 1;
}
.comment-replies > .text {
  grid-column: 2 / span 2;
  grid-row: 2;
  color: hsl(211, 10%, 45%);
}
.comment-replies > .control {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: end;
}
